NET "ad1_busy" LOC = P84;
NET "ad1_douta" LOC = P83;
NET "ad1_doutb" LOC = P82;
NET "ad1_ncs" LOC = P85;
NET "ad1_os[0]" LOC = P94;
NET "ad1_os[1]" LOC = P93;
NET "ad1_os[2]" LOC = P92;
NET "ad1_range" LOC = P87;
NET "ad1_stby" LOC = P88;
NET "ad2_busy" LOC = P98;
NET "ad2_douta" LOC = P97;
NET "ad2_doutb" LOC = P95;
NET "ad2_ncs" LOC = P99;
NET "ad2_os[0]" LOC = P115;
NET "ad2_os[1]" LOC = P114;
NET "ad2_os[2]" LOC = P112;
NET "ad2_range" LOC = P105;
NET "ad2_stby" LOC = P111;
NET "adx_convsta" LOC = P104;
NET "adx_convstb" LOC = P102;
NET "adx_reset" LOC = P101;
NET "adx_sclk" LOC = P100;
NET "da_din" LOC = P81;
NET "da_nldac" LOC = P79;
NET "da_nsync" LOC = P78;
NET "da_sclk" LOC = P80;
NET "gpio_54" LOC = P29;
NET "gpio_140" LOC = P15;
NET "gpmc_ad[0]" LOC = P7;
NET "gpmc_ad[1]" LOC = P6;
NET "gpmc_ad[2]" LOC = P5;
NET "gpmc_ad[3]" LOC = P2;
NET "gpmc_ad[4]" LOC = P1;
NET "gpmc_ad[5]" LOC = P11;
NET "gpmc_ad[6]" LOC = P12;
NET "gpmc_ad[7]" LOC = P14;
NET "gpmc_ad[8]" LOC = P35;
NET "gpmc_ad[9]" LOC = P33;
NET "gpmc_ad[10]" LOC = P30;
NET "gpmc_ad[11]" LOC = P27;
NET "gpmc_ad[12]" LOC = P34;
NET "gpmc_ad[13]" LOC = P17;
NET "gpmc_ad[14]" LOC = P16;
NET "gpmc_ad[15]" LOC = P10;
NET "gpmc_ale" LOC = P23;
NET "gpmc_clk" LOC = P26;
NET "gpmc_ncs0" LOC = P22;
NET "gpmc_ncs1" LOC = P21;
NET "gpmc_noe" LOC = P9;
NET "gpmc_nwe" LOC = P8;
NET "gpmc_nbe0" LOC = P24;
NET "gpmc_wait0" LOC = P32;
NET "gps_1pps" LOC = P59;
NET "gps_scl" LOC = P62;
NET "gps_sda" LOC = P66;
NET "gps_extint" LOC = P58;
NET "gps_txrdy" LOC = P61;
NET "gps_resv" LOC = P67;
NET "ja[0]" LOC = P144;
NET "ja[1]" LOC = P141;
NET "ja[2]" LOC = P140;
NET "ja[3]" LOC = P139;
NET "ja[4]" LOC = P138;
NET "ja[5]" LOC = P137;
NET "ja[6]" LOC = P134;
NET "ja[7]" LOC = P133;
NET "jb[0]" LOC = P132;
NET "jb[1]" LOC = P127;
NET "jb[2]" LOC = P124;
NET "jb[3]" LOC = P121;
NET "jb[4]" LOC = P131;
NET "jb[5]" LOC = P126;
NET "jb[6]" LOC = P123;
NET "jb[7]" LOC = P120;
NET "jc0" LOC = P119;
NET "jc1" LOC = P117;
NET "jc4" LOC = P118;
NET "jc5" LOC = P116;
NET "je[0]" LOC = P57;
NET "je[1]" LOC = P46;
NET "je[2]" LOC = P44;
NET "je[3]" LOC = P41;
NET "je[4]" LOC = P48;
NET "je[5]" LOC = P45;
NET "je[6]" LOC = P43;
NET "je[7]" LOC = P40;
NET "mcspi1_clk" LOC = P70;
NET "mcspi1_cs0" LOC = P64;
NET "mcspi1_cs1" LOC = P38;
NET "mcspi1_simo" LOC = P65;
NET "mcspi1_somi" LOC = P74;
NET "led_green" LOC = P142;
NET "led_blue" LOC = P143;
NET "fpga_clk" LOC = P51;
NET "fpga_ocxo" LOC = P56;
NET "fpga_awake" LOC = P75;
NET "fpga_init" LOC = P39;
